$color--primary: rgb(0, 114, 201);
$color--secondary: rgb(0, 163, 199);

$color--text-light: rgb(255, 255, 255);
$color--text-medium: rgb(150, 150, 150);
$color--text-medium-dark: rgb(90, 90, 90);

$color--bg-light: rgb(255, 255, 255);
$color--bg-dark: rgb(0, 0, 0);

$color--success: rgb(0, 155, 75);
$color--error: rgb(162, 29, 29);
